# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# TensorBoard
logs/
